/*
Colors used:
Primary Color (almost-white): #fefefe;
Secondary Color (Black): #000000;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #fff;
  width: 100%;
  top: 0;
  position: fixed;
  box-shadow: 0px 2px 16px 0px rgba(50, 50, 50, 0.5);
}

main {
  padding-top: 133px;
  margin: 40px;
}

/* Layout Styling */
.logo {
  padding: 0 15px;
  max-width: 90px;
  margin-top: 9px;
}

.container {
  max-width: 1920px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row {
  margin: 35px 0;
}

main:after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  content: "";
  display: block;
  clear: both;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul{
  line-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4a4a4a;
}

.navtoggle li:not(:last-child){
  display: none;
}

.navtoggle, .navtoggle.responsive{
  position: relative;
}

.navtoggle li .icon{
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 25px;
  padding-right: 0;
}

/* responsive */
.navtoggle.responsive li{
  display: block;
}

.navtoggle.responsive nav{
  padding: 24px 0 0;
}
.navtoggle.responsive li{
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 127, 80, 0.5);
}
.navtoggle.responsive li:last-child{
  padding: 0 0 10px;
}

/* body styling */

body {
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #000;
}

img {
  width: 100%;
}

/* header styling */
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.00em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.50em;
  font-weight: 500;
}

h4 {
  font-size: 1.35em;
  font-weight: 300;
}

/* hyperlink styling */
a {
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

a:active {
  color: #303091;
}

/* button styling */
a.button {
  display: inline-block;
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: 3px solid #000;
}

a.button:hover {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  border: 3px solid #000000;
  text-decoration: none;
  opacity: 0.8;
}

a.button.resume {
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
  border: 3px solid #000;
  transition: 1s opacity;
}

a.button.resume:hover {
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.3;
}

a.button.contact {
  background-color: transparent;
  color: #000000;
  font-size: 16px;
  border: 3px solid #000000;
  text-decoration: none;
}

a.button.contact:hover {
  background-color: #000;
  color: #ffffff;
  font-size: 16px;
}

.button-container{
  padding: 20px 0;
}

.centered-button {
  text-align: center;
}

.hide-mobile{
  display: none;
}

/* footer styling */
footer {
  border-top: 5px solid black;
  background-color: #fff;
  padding-top: 50px;
  margin: 40px;
}

footer p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.footer_block {
  list-style-type: none;
  text-align: center;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 2em;
  padding-left: 10px;
  box-sizing: border-box;
}

.copyright {
  padding-top: 20px;
  height: 8px;
}

/*social icons */
.social {
  text-align: center;
}

.social a {
  display: inline-block;
  margin: 0 10px;
}

.social svg {
  width: 30px;
  height: auto;
  padding-top: 50px;
}

/*
.social svg:hover {
  background: url(".jpg") no-repeat;
}
*/
/*work styling */
#work .row {
  margin: 45px 0;
}

#work .row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #fff;
  padding: 30px 0;
}

#hero .container{
  padding-bottom: 30px;
  overflow: hidden;
}

#hero h1 {
  font-weight: 200;
  animation-duration: .8s;
  animation-name: slidein;
}

#hero p {
  font-weight: bolder;
  font-size: 24px;
}

#hero .b {
  font-weight: 900;
}

#hero .centered-button {
  padding-top: 30px;
}

#description {
  top: 0;
  padding: 20px 30px;
  background-color: #000;
  color: #fff;
}

#app h1{
  text-align: center;
}

/* animation */
@keyframes slidein {
  0% {
    transform: translate(-50px, -20px) opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translate(-10px, -10px);
  }

  100% {
    transform: translate(0px, 0px)
  }
}


/*----------------------------------------------------------------------------------------------------------------------------------------*/

/* Animation Example (Temporary) */

.berlin-illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px, 48px);}

  to {transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/



/* Medium devices 640px+ */
@media only screen and (min-width: 640px) {
  .hide-mobile{
    display: block;
  }
  .hide-tablet{
    display: none;
  }

  header {
    text-align: unset;
    z-index: 1;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  nav>ul>li {
    display: inline-block;
    margin: 1em 0;
  }

  .navtoggle li:not(:last-child){
    display: inline-block;
  }

  .navtoggle li:last-child{
    display: none;
  }

  #hero img {
    width: 100%;
    height: auto;
    animation-duration: .8s;
    animation-name: slidein;
  }

  #hero p {
    margin: 0;
    font-size: 22px;
  }

  #hero .button {
    float: left;
  }

  #skills h2 {
    margin-top: 80px;
  }

  #skills h3 {
    margin-top: 0;
  }

  [class*="col-"] {
    float: left;
    padding: 0 25px;
  }

.col-md-1 {width: 8.33%;}
.col-md-2 {width: 16.66%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.33%;}
.col-md-5 {width: 41.66%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.33%;}
.col-md-8 {width: 66.66%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.33%;}
.col-md-11 {width: 91.66%;}
.col-md-12 {width: 100%;}

  .work_block {
    font-size: .9em;
  }

  .skills_block {
    list-style-type: none;
    float: left;
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
  }

}


/* Large devices (1024px+ )*/
@media only screen and (min-width: 1024px) {

  .hide-tablet{
    display: block;
  }

  .hide-desktop{
    display: none;
  }

.nav-container{
  max-width: auto;


}
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  header {
    text-align: unset;
    z-index: 1;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 10px;
  }

  #hero h1 {
    margin-top: 80px;
    font-weight: 200;
    font-size: 52px;
    animation-duration: .8s;
    animation-name: slidein;
  }

  #hero p {
    margin-top: 50px;
    font-weight: bolder;
    font-size: 24px;
  }



  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .work_block {
    font-size: 1em;
  }
}

/* X-large devices (1440px+ */
@media only screen and (min-width: 1440px) {
  #hero h1 {
    font-size: 62px;
    animation-duration: .8s;
    animation-name: slidein;
  }

  #hero p {
    font-weight: bolder;
    font-size: 24px;
  }

}
